<div class="dashboard-associate-risk-container">
  <h2>Administrar Riesgos</h2>
  <div class="dashboard-associate-risk">
    <div class="dashboard-associate-risk-list">
      <h3>Lista de Riesgos</h3>
      <ul class="list" id="dissimilar-list">
      </ul>
    </div>
    <div class="dashboard-selected"></div>
    <div class="dashboard-associate-risk-selected">
      <h3>Riesgos Asociados</h3>
      <ul class="list" id="associated-list"></ul>
    </div>
  </div>
</div>
